 <h1>Create Post Auto Generate fake post </h1>
<div class="row">
    <form action="/admin/generate-fake-posts" method="post">
        <div class="form-group">
            <div class="input" class="form-control"></div>
            <input type="number" name="amount" class="form-control" id="">
        </div>
         <br>
<<<<<<< HEAD
        <button type="submit" name="" class="btn btn-dark"> Generate Data  </button>
=======
        <button type="submit" name="" class="btn btn-success">Create </button>
>>>>>>> 94cf152fbaea6ceb850a311c8dec65b16c5551fe

    </form>

</div>

