<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

<<<<<<< HEAD
    <title> Home </title>
=======
    <title>Blog Home - Start Bootstrap Template</title>
>>>>>>> 94cf152fbaea6ceb850a311c8dec65b16c5551fe

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">
<<<<<<< HEAD
    <link href="/css/blog-post.css" rel="stylesheet">
=======
>>>>>>> 94cf152fbaea6ceb850a311c8dec65b16c5551fe

  </head>

  <body>

   <!--Navigation -->
   {{> home/home-nav }}

    <!-- Page Content -->
    <div class="container">
         {{{body}}}
    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{> home/footer }}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
