 <footer class="py-1 bg-dark fixed-bottom">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020 </p>
      </div>
      <!-- /.container -->
    </footer>

<script src="/js/ckeditor/ckeditor.js"></script>
<script> CKEDITOR.replace( 'editor1' ); </script>
