{{#if error  }}
    <div class="text-danger m-3">
       {{error }}
    </div>
{{/if}}


{{#if success_message }}
    <div class="alert alert-success">
       {{success_message}}
    </div>
{{/if}}


{{#if error_message }}
    <div class="text-danger m-3">
       {{error_message}}
    </div>
{{/if}}

