    <!--================Home Banner Area =================-->
        <section class="home_banner_area">
        	<div class="container">
				<div class="row">
					<div class="col-lg-5"></div>
					<div class="col-lg-7">
						<div class="blog_text_slider owl-carousel">
							<div class="item">
								<div class="blog_text">
									<div class="cat">
										<a class="cat_btn" href="#"> Quotes </a>
										<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 5, 2020 </a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
									</div>
									<a href="#"><h4> Aspire to inspire before we expire. </h4></a>
									<p>  - Unknown </p>
									{{!-- <a class="blog_btn" href="#">Read More</a> --}}
								</div>
							</div>
							<div class="item">
								<div class="blog_text">
									<div class="cat">
										<a class="cat_btn" href="#"> Quote </a>
										<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> August 1, 2020 </a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
									</div>
									<a href="#"><h4> Tough times never last but tough people do </h4></a>
									<p> - Robert H. Schiuller  </p>
									{{!-- <a class="blog_btn" href="#">Read More</a> --}}
								</div>
							</div>	
							<div class="item">
								<div class="blog_text">
									<div class="cat">
										<a class="cat_btn" href="#"> Quote </a>
										<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> August 1, 2020 </a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
									</div>
									<a href="#"><h4> Determine your priorities and focus on them. </h4></a>
									<p>  -Eileen McDargh </p>
									{{!-- <a class="blog_btn" href="#">Read More</a> --}}
								</div>
							</div>			
						</div>
					</div>
				</div>
        	</div>
        </section>
        <!--================End Home Banner Area =================-->
        