<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Posts">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="lnr lnr-magnifier"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
                <div class="br"></div>
            </aside>
            <aside class="single_sidebar_widget author_widget">
                {{!-- <img class="author_img img-fluid" src="img/blog/author.png" alt=""> --}}
                    <h4> Am Samuel  </h4>
                    <p> Web Developer </p>
                    <p> I am web Developer , Instructor , Student and Entrepeneur. I love  programming. This blog was created 
                        to assist people who wants to learn about progamming and technology in general. I will be updating this blog
                        from time to time with lastest stuff. Free feel to message message on any idea. 
                    </p>
                    <div class="social_icon">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-behance"></i>
                        </a>
                    </div>
                    <div class="br"></div>
                </aside>
                <aside class="single_sidebar_widget popular_post_widget">
                    <h3 class="widget_title">Popular Posts</h3>
                    <div class="media post_item">
                        <img src="img/blog/popular-post/post1.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Space The Final Frontier</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>

                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'"></div>
                                <a href="#" class="bbtns">
                                    <i class="lnr lnr-arrow-right"></i>
                                </a>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>

                            {{#each categories }}
                                <ul class="list cat-list">
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>{{ name }}
                                            </p>
                                            {{!-- <p>
                                                0
                                            </p> --}}
                                        </a>
                                    </li>

                                </ul>
                            {{/each}}
                        </aside>
                    </div>
                </div>
