
        
  
        <!--================Home Banner Area =================-->
        <section class="banner_area">
        	
        </section>
        <!--================End Home Banner Area =================-->
        

			<!-- Start Align Area -->
			<div class="whole-wrap">
				<div class="container">
				 		<div class="section-top-border">
						<div class="row">
							<div class="col-lg-8">
								<h3 class="mb-30 title_color"> Account Login  </h3>
								<form action="/login" method="post">
									
									<div class="input-group-icon mt-10">
										<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
										<input type="text" name="eamil" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required class="single-input">
									</div>
								
									<div class="input-group-icon mt-10">
										<div class="icon"><i class="fa fa-lock" aria-hidden="true"></i></div>
										<input type="text" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required class="single-input">
									</div>


									<div class="input-group-icon mt-10">
											<a href="#" class="genric-btn success circle arrow"> Login <span class="lnr lnr-arrow-right"></span></a>			
									</div>

									
								</form>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- End Align Area -->
     
        